@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================================================================== */

body {
  @apply dark:bg-black dark:text-white;
}

.text-font-11 {
  font-size: 11px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-14 {
  font-size: 14px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-18 {
  font-size: 18px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-22 {
  font-size: 22px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-27 {
  font-size: 27px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-34 {
  font-size: 34px;
  font-weight: 400;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-43 {
  font-size: 43px;
  font-weight: 500;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
.text-font-53 {
  font-size: 53px;
  font-weight: 600;
  font: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
